@model OrderFormViewModel

<form method="post" asp-controller="Order" asp-action="OrderCheck">
    <div class="form-group">
        <label for="Name">Имя:</label>
        <input asp-for="Name" type="text" class="form-control" placeholder="Введите ваше имя">
        <span asp-validation-for="Name"></span>
    </div>
    <div class="form-group">
        <label for="Surname">Фамилия:</label>
        <input asp-for="Surname" class="form-control" placeholder="Введите вашу фамилию">
        <span asp-validation-for="Surname"></span>
    </div>
    <div class="form-group">
        <label for="Phone">Номер телефона:</label>
        <input asp-for="Phone" type="tel" class="form-control" placeholder="Введите номер телефона">
        <span asp-validation-for="Phone"></span>
    </div>
    <div class="form-group">
        <label for="Address">Адрес:</label>
        <input asp-for="Address" class="form-control" placeholder="Введите ваш адрес">
        <span asp-validation-for="Address"></span>
    </div>
    <input type="submit" value="Оформить заказ" />
</form>

