<div class="col-3 list-group-flush">
    <a class="list-group-item" asp-area="Administrator" asp-controller="Order" asp-action="Index"> Заказы </a>
    <a class="list-group-item" asp-area="Administrator" asp-controller="User" asp-action="Index" asp-route-page="1"> Пользователи </a>
    <a class="list-group-item" asp-area="Administrator" asp-controller="Role" asp-action="Index"> Роли </a>
    <a class="list-group-item" asp-area="Administrator" asp-controller="Product" asp-action="Index"> Продукты </a>
    <a class="list-group-item" asp-area="Administrator" asp-controller="Category" asp-action="Index"> Категории </a>
</div>