@model RoleViewModel

@if (Model != null)
{
    <div class="modal fade" id="deleteRole@(Model.Name)" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Удаление роли</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">
                            &times;
                        </span>
                    </button>
                </div>
                <div class="modal-body">
                    Вы уверены, что хотите удалить роль (@Model.Name) навсегда?
                </div>
                <div class="modal-footer">
                    <a type="button" class="btn btn-primary" asp-area="Administrator" asp-controller="Role" asp-action="Delete" asp-route-name="@Model.Name">Удалить</a>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                </div>
            </div>
        </div>
    </div>
}